{% extends 'base.html.twig' %}

{% block main %}
    <div class="container">

        <h1>User</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Image</th>
                <td><img src="{{ product.image }}" alt="" width="350"></td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Naam</th>
                <td>{{ product.naam }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ product.categorie.naam }}</td>
            </tr>
            <tr>
                <th>Prijs</th>
                <td>{{ product.prijs }}</td>
            </tr>
            <tr>
                <th>Beschrijving</th>
                <td>{{ product.beschrijving }}</td>
            </tr>
            </tbody>
        </table>

        <a class="btn btn-success" href="{{ path('admin_product_index') }}">Terug naar lijst</a>

        <a class="btn btn-warning" href="{{ path('admin_product_edit', {'id': product.id}) }}">Edit</a>

        {{ include('admin/product/_delete_form.html.twig') }}

    </div>
{% endblock %}