<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" lang="nl">

    {% block stylesheets %}
        <!-- Favicons -->
        <link rel="icon" href="https://yevgenysim.github.io/shopper/assets/img/favicons/favicon.ico">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">

        <!-- Libs CSS -->
        <link rel="stylesheet" href="{{ asset("css/all.min.css") }}">
        <link rel="stylesheet" href="{{ asset("css/jquery.fancybox.min.css") }}">
        <link rel="stylesheet" href="{{ asset("css/flickity.min.css") }}">
        <link rel="stylesheet" href="{{ asset("css/simplebar.min.css") }}">
        <link rel="stylesheet" href="{{ asset("css/vs2015.css") }}">
        <link rel="stylesheet" href="{{ asset("css/flickity-fade.css") }}">
        <link rel="stylesheet" href="{{ asset("css/feather.css") }}">
        <link rel="stylesheet" href="{{ asset("css/theme.min.css") }}">
        <link rel="stylesheet" href="{{ asset("css/style.css") }}">

        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', 'UA-154926440-1');

        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <!-- <script type="text/javascript" async="" src="./Shopper_files/analytics.js.download"></script> -->
        <!-- <script async="" src="./Shopper_files/js"></script> -->
    {% endblock %}
</head>
<body>
{% block header %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12"><img style="width:100%; height: 15vh;" src="{{ asset('img/koi-kas_02.jpg') }}"></div>
        </div>
    </div>
{% endblock %}
{% block nav %}

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">

            <!-- Brand -->


            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">

                <!-- Nav -->
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            Home
                        </a>
                    </li>
                    <!-- home -->
                    <li class="nav-item">

                        <!-- Toggle -->
                        <a class="nav-link" href="{{ path('koiKarper') }}">Koi Karpers</a>

                    </li>
                    <li class="nav-item dropdown position-static">

                        <!-- Toggle -->
                        <a class="nav-link" data-toggle="dropdown" href="producten.html">Producten</a>

                        <!-- Menu -->
                        <div class="dropdown-menu w-100">

                            <!-- Tabs -->
                            <form class="mb-2 mb-lg-0 border-bottom-lg">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">

                                        </div>
                                    </div>
                                </div>
                            </form>

                            <!-- Tab content -->
                            <div class="card card-lg">
                                <div class="card-body">
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="navTab">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-6 col-md">
                                                        <!-- Links -->
                                                        <ul class="list-styled mb-6 mb-md-0 font-size-sm">
                                                            <li class="list-styled-item">
                                                                <a class="list-styled-link"
                                                                   href="{{ path('product_categorie', {naam:'pompen'}) }}">
                                                                    Pompen
                                                                </a>
                                                            </li>
                                                            <li class="list-styled-item">
                                                                <a class="list-styled-link"
                                                                   href="{{ path('product_categorie', {naam:'filter'}) }}">
                                                                    Filters
                                                                </a>
                                                            </li>
                                                            <li class="list-styled-item">
                                                                <a class="list-styled-link"
                                                                   href="{{ path('product_categorie', {naam:'filter materialen'}) }}">
                                                                    Filter materialen
                                                                </a>
                                                            </li>
                                                            <li class="list-styled-item">
                                                                <a class="list-styled-link"
                                                                   href="{{ path('product_categorie', {naam:'folie'}) }}">
                                                                    Folie
                                                                </a>
                                                            </li>
                                                            <li class="list-styled-item">
                                                                <a class="list-styled-link"
                                                                   href="{{ path('product_categorie', {naam:'Kadobon'}) }}">
                                                                    Kadobon
                                                                </a>
                                                            </li>

                                                        </ul>

                                                    </div>
                                                    <div class="col-6 col-md">

                                                        <!-- Links -->
                                                        <ul class="list-styled mb-6 mb-md-0 font-size-sm">

                                                            <li class="list-styled-item">
                                                                <a class="list-styled-link"
                                                                   href="{{ path('product_categorie', {naam:'verlichting'}) }}">
                                                                    Verlichting
                                                                </a>
                                                            </li>
                                                            <li class="list-styled-item">
                                                                <a class="list-styled-link"
                                                                   href="{{ path('product_categorie', {naam:'verwarming'}) }}">
                                                                    Verwarming
                                                                </a>
                                                            </li>
                                                            <li class="list-styled-item">
                                                                <a class="list-styled-link"
                                                                   href="{{ path('product_categorie', {naam:'accesoires'}) }}">
                                                                    Accesoires
                                                                </a>
                                                            </li>
                                                            <li class="list-styled-item">
                                                                <a class="list-styled-link"
                                                                   href="{{ path('product_categorie', {naam:'voer'}) }}">
                                                                    Voer
                                                                </a>
                                                            </li>
                                                            <li class="list-styled-item">
                                                                <a class="list-styled-link"
                                                                   href="{{ path('product_categorie', {naam:'aanbiedingen'}) }}">
                                                                    Aanbiedingen
                                                                </a>
                                                            </li>
                                                        </ul>

                                                    </div>
                                                    <div class="col-6 col-md">


                                                        <!-- Links -->
                                                        <ul class="list-styled mb-0 font-size-sm">
                                                            <li class="list-styled-item">
                                                                <a class="list-styled-link"
                                                                   href="{{ path('product_categorie', {naam:'medicijnen'}) }}">
                                                                    Medicijnen
                                                                </a>
                                                            </li>
                                                            <li class="list-styled-item">
                                                                <a class="list-styled-link"
                                                                   href="{{ path('product_categorie', {naam:'waterconditie'}) }}">
                                                                    Waterconditie
                                                                </a>
                                                            </li>
                                                            <li class="list-styled-item">
                                                                <a class="list-styled-link"
                                                                   href="{{ path('product_categorie', {naam:'gebruikt'}) }}">
                                                                    Gebruikt/showmodellen
                                                                </a>
                                                            </li>
                                                            <li class="list-styled-item">
                                                                <a class="list-styled-link"
                                                                   href="{{ path('product_categorie', {naam:'catalogus'}) }}">
                                                                    CatalogusMessner
                                                                </a>
                                                            </li>
                                                            <li class="list-styled-item">
                                                                <a class="list-styled-link"
                                                                   href="{{ path('product_categorie', {naam:'boeken'}) }}">
                                                                    Boeken
                                                                </a>
                                                            </li>

                                                        </ul>

                                                    </div>

                                                    <div class="col-4 d-none d-lg-block">

                                                        <!-- Card -->
                                                        <div class="card">

                                                            <!-- Image -->
                                                            <img class="card-img" src="{{ asset('img/koi-1.jpeg') }}"
                                                                 alt="...">

                                                            <!-- Overlay -->
                                                            <div class="card-img-overlay bg-dark-0 bg-hover align-items-center">
                                                                <div class="text-center">
                                                                    <a class="btn btn-white stretched-link"
                                                                       href="{{ path('producten') }}">
                                                                        Alle producten <i
                                                                                class="fe fe-arrow-right ml-2"></i>
                                                                    </a>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </li>
                    <li class="nav-item dropdown">

                        <!-- Toggle -->
                        <a class="nav-link" data-toggle="dropdown"
                           href="https://yevgenysim.github.io/shopper/index.html#">Blog</a>

                        <!-- Menu -->
                        <div class="dropdown-menu">
                            <div class="card card-lg">
                                <div class="card-body">
                                    <ul class="list-styled font-size-sm">
                                        <li class="list-styled-item">
                                            <a class="list-styled-link"
                                               href="https://yevgenysim.github.io/shopper/blog.html">Blog</a>
                                        </li>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <li class="list-styled-item">
                                                <a class="list-styled-link"
                                                   href="https://yevgenysim.github.io/shopper/blog-post.html">Blog Post
                                                    Toevoegen</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>


                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="/contact">Contact</a>
                    </li>

                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{{ path('admin_home') }}">Admin Home</a>
                        </li>
                    {% endif %}
                </ul>

                <!-- Nav -->
                <ul class="navbar-nav flex-row">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal"
                           href="https://yevgenysim.github.io/shopper/index.html#modalSearch">
                            <i class="fas fa-search"></i>
                        </a>
                    </li>
                </ul>

            </div>

        </div>
    </nav>
{% endblock %}

{% block main %}{% endblock %}

<br>

{% block footer %}

    <!-- FOOTER -->
    <footer class="bg-dark bg-cover @@classList">
        <div class="py-12 border-bottom border-gray-700">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-8 col-xl-6">

                        <!-- Heading -->
                        <h5 class="mb-7 text-center text-white">Ben je geïnteresseerd?</h5>

                        <!-- Form -->
                        <form class="mb-11">
                            <div class="form-row align-items-start">
                                <div class="col-12">
                                    <div style="text-align: center;">
                                        <p class="btn btn-gray-500 btn-lg text-white mx-auto">contact@koi-kas.nl</p>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                <div>
                    <!--            <div class="row">-->
                    <!--                <div class="col-12 col-md-3">-->

                    <!--                    &lt;!&ndash; Heading &ndash;&gt;-->
                    <!--                    <h4 class="mb-6 text-white">Koi Kas</h4>-->

                    <!--                    &lt;!&ndash; Social &ndash;&gt;-->
                    <!--                    <ul class="list-unstyled list-inline mb-7 mb-md-0">-->
                    <!--                        <li class="list-inline-item">-->
                    <!--                            <a href="#" class="text-gray-350">-->
                    <!--                                <i class="fab fa-facebook-f"></i>-->
                    <!--                            </a>-->
                    <!--                        </li>-->
                    <!--                        <li class="list-inline-item">-->
                    <!--                            <a href="#" class="text-gray-350">-->
                    <!--                                <i class="fab fa-youtube"></i>-->
                    <!--                            </a>-->
                    <!--                        </li>-->
                    <!--                        <li class="list-inline-item">-->
                    <!--                            <a href="#" class="text-gray-350">-->
                    <!--                                <i class="fab fa-twitter"></i>-->
                    <!--                            </a>-->
                    <!--                        </li>-->
                    <!--                        <li class="list-inline-item">-->
                    <!--                            <a href="#" class="text-gray-350">-->
                    <!--                                <i class="fab fa-instagram"></i>-->
                    <!--                            </a>-->
                    <!--                        </li>-->
                    <!--                        <li class="list-inline-item">-->
                    <!--                            <a href="#" class="text-gray-350">-->
                    <!--                                <i class="fab fa-medium"></i>-->
                    <!--                            </a>-->
                    <!--                        </li>-->
                    <!--                    </ul>-->

                    <!--                </div>-->
                    <!--                <div class="col-6 col-sm">-->

                    <!--                    &lt;!&ndash; Heading &ndash;&gt;-->
                    <!--                    <h6 class="heading-xxs mb-4 text-white">-->
                    <!--                        Support-->
                    <!--                    </h6>-->

                    <!--                    &lt;!&ndash; Links &ndash;&gt;-->
                    <!--                    <ul class="list-unstyled mb-7 mb-sm-0">-->
                    <!--                        <li>-->
                    <!--                            <a class="text-gray-300" href="#">Contact Us</a>-->
                    <!--                        </li>-->
                    <!--                        <li>-->
                    <!--                            <a class="text-gray-300" href="#">FAQs</a>-->
                    <!--                        </li>-->
                    <!--                        <li>-->
                    <!--                            <a class="text-gray-300" data-toggle="modal" href="#">Size Guide</a>-->
                    <!--                        </li>-->
                    <!--                        <li>-->
                    <!--                            <a class="text-gray-300" href="#">Shipping &amp; Returns</a>-->
                    <!--                        </li>-->
                    <!--                    </ul>-->

                    <!--                </div>-->
                    <!--                <div class="col-6 col-sm">-->

                    <!--                    &lt;!&ndash; Heading &ndash;&gt;-->
                    <!--                    <h6 class="heading-xxs mb-4 text-white">-->
                    <!--                        Shop-->
                    <!--                    </h6>-->

                    <!--                    &lt;!&ndash; Links &ndash;&gt;-->
                    <!--                    <ul class="list-unstyled mb-7 mb-sm-0">-->
                    <!--                        <li>-->
                    <!--                            <a class="text-gray-300" href="https://yevgenysim.github.io/shopper/shop.html">Men's-->
                    <!--                                Shopping</a>-->
                    <!--                        </li>-->
                    <!--                        <li>-->
                    <!--                            <a class="text-gray-300" href="https://yevgenysim.github.io/shopper/shop.html">Women's-->
                    <!--                                Shopping</a>-->
                    <!--                        </li>-->
                    <!--                        <li>-->
                    <!--                            <a class="text-gray-300" href="https://yevgenysim.github.io/shopper/shop.html">Kids'-->
                    <!--                                Shopping</a>-->
                    <!--                        </li>-->
                    <!--                        <li>-->
                    <!--                            <a class="text-gray-300" href="https://yevgenysim.github.io/shopper/shop.html">Discounts</a>-->
                    <!--                        </li>-->
                    <!--                    </ul>-->

                    <!--                </div>-->
                    <!--                <div class="col-6 col-sm">-->

                    <!--                    &lt;!&ndash; Heading &ndash;&gt;-->
                    <!--                    <h6 class="heading-xxs mb-4 text-white">-->
                    <!--                        Company-->
                    <!--                    </h6>-->

                    <!--                    &lt;!&ndash; Links &ndash;&gt;-->
                    <!--                    <ul class="list-unstyled mb-0">-->
                    <!--                        <li>-->
                    <!--                            <a class="text-gray-300" href="https://yevgenysim.github.io/shopper/about.html">Our-->
                    <!--                                Story</a>-->
                    <!--                        </li>-->
                    <!--                        <li>-->
                    <!--                            <a class="text-gray-300"-->
                    <!--                               href="https://yevgenysim.github.io/shopper/index.html#!">Careers</a>-->
                    <!--                        </li>-->
                    <!--                        <li>-->
                    <!--                            <a class="text-gray-300" href="https://yevgenysim.github.io/shopper/index.html#!">Terms-->
                    <!--                                &amp; Conditions</a>-->
                    <!--                        </li>-->
                    <!--                        <li>-->
                    <!--                            <a class="text-gray-300" href="https://yevgenysim.github.io/shopper/index.html#!">Privacy-->
                    <!--                                &amp; Cookie policy</a>-->
                    <!--                        </li>-->
                    <!--                    </ul>-->

                    <!--                </div>-->
                    <!--                <div class="col-6 col-sm">-->

                    <!--                    &lt;!&ndash; Heading &ndash;&gt;-->
                    <!--                    <h6 class="heading-xxs mb-4 text-white">-->
                    <!--                        Contact-->
                    <!--                    </h6>-->

                    <!--                    &lt;!&ndash; Links &ndash;&gt;-->
                    <!--                    <ul class="list-unstyled mb-0">-->
                    <!--                        <li>-->
                    <!--                            <a class="text-gray-300" href="https://yevgenysim.github.io/shopper/index.html#!">1-202-555-0105</a>-->
                    <!--                        </li>-->
                    <!--                        <li>-->
                    <!--                            <a class="text-gray-300" href="https://yevgenysim.github.io/shopper/index.html#!">1-202-555-0106</a>-->
                    <!--                        </li>-->
                    <!--                        <li>-->
                    <!--                            <a class="text-gray-300" href="https://yevgenysim.github.io/shopper/index.html#!">help@shopper.com</a>-->
                    <!--                        </li>-->
                    <!--                    </ul>-->

                    <!--                </div>-->
                    <!--            </div>-->
                </div>
            </div>
            <div class="py-6">
                <div class="container">
                    <div class="row">
                        <div class="col">

                            <!-- Copyright -->
                            <p class="mb-3 mb-md-0 font-size-xxs text-muted">
                                © 2019 All rights reserved. Created by TMN-Web.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block script %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('editor') }}
    <!-- Map (replace the API key to enable) -->
    <!-- <script src="./Shopper_files/js(1)"></script> -->

    <!-- Theme JS -->
    <!-- <script src="./Shopper_files/theme.min.js.download"></script> -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>
