{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block main %}

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">

            <!-- Brand -->
            <a class="navbar-brand" href="index.html">
                Koi Kas
            </a>

            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">

                <!-- Nav -->
                <ul class="navbar-nav mx-auto">
                    <!-- home -->
                    <li class="nav-item dropdown">

                        <!-- Toggle -->
                        <a class="nav-link" data-toggle="dropdown" href="{{ path('homepage') }}">Home</a>

                    </li>

                    <li class="nav-item dropdown position-static">

                        <!-- Toggle -->
                        <a class="nav-link" data-toggle="dropdown" href="producten.html">Producten</a>

                        <!-- Menu -->
                        <div class="dropdown-menu w-100">

                            <!-- Tabs -->
                            <form class="mb-2 mb-lg-0 border-bottom-lg">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">

                                        </div>
                                    </div>
                                </div>
                            </form>

                            <!-- Tab content -->
                            <div class="card card-lg">
                                <div class="card-body">
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="navTab">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-6 col-md">
                                                        <!-- Links -->
                                                        <ul class="list-styled mb-6 mb-md-0 font-size-sm">
                                                            <li class="list-styled-item">
                                                                <a class="list-styled-link"
                                                                   href="{{ path('product', {id:'pompen'}) }}">
                                                                    Pompen
                                                                </a>
                                                            </li>
                                                            <li class="list-styled-item">
                                                                <a class="list-styled-link"
                                                                   href="{{ path('product', {id:'filter'}) }}">
                                                                    Filters
                                                                </a>
                                                            </li>
                                                            <li class="list-styled-item">
                                                                <a class="list-styled-link"
                                                                   href="{{ path('product', {id:'filter materialen'}) }}">
                                                                    Filter materialen
                                                                </a>
                                                            </li>
                                                            <li class="list-styled-item">
                                                                <a class="list-styled-link"
                                                                   href="{{ path('product', {id:'folie'}) }}">
                                                                    Folie
                                                                </a>
                                                            </li>

                                                        </ul>

                                                    </div>
                                                    <div class="col-6 col-md">

                                                        <!-- Links -->
                                                        <ul class="list-styled mb-6 mb-md-0 font-size-sm">

                                                            <li class="list-styled-item">
                                                                <a class="list-styled-link"
                                                                   href="{{ path('product', {id:'verlichting'}) }}">
                                                                    Verlichting
                                                                </a>
                                                            </li>
                                                            <li class="list-styled-item">
                                                                <a class="list-styled-link"
                                                                   href="{{ path('product', {id:'verwarming'}) }}">
                                                                    Verwarming
                                                                </a>
                                                            </li>
                                                            <li class="list-styled-item">
                                                                <a class="list-styled-link"
                                                                   href="{{ path('product', {id:'accesoires'}) }}">
                                                                    Accesoires
                                                                </a>
                                                            </li>
                                                            <li class="list-styled-item">
                                                                <a class="list-styled-link"
                                                                   href="{{ path('product', {id:'voer'}) }}">
                                                                    Voer
                                                                </a>
                                                            </li>
                                                        </ul>

                                                    </div>
                                                    <div class="col-6 col-md">


                                                        <!-- Links -->
                                                        <ul class="list-styled mb-0 font-size-sm">
                                                            <li class="list-styled-item">
                                                                <a class="list-styled-link"
                                                                   href="{{ path('product', {id:'medicijnen'}) }}">
                                                                    Medicijnen
                                                                </a>
                                                            </li>
                                                            <li class="list-styled-item">
                                                                <a class="list-styled-link"
                                                                   href="{{ path('product', {id:'waterconditie'}) }}">
                                                                    Waterconditie
                                                                </a>
                                                            </li>
                                                            <li class="list-styled-item">
                                                                <a class="list-styled-link"
                                                                   href="{{ path('product', {id:'gebruikt'}) }}">
                                                                    Gebruikt/showmodellen
                                                                </a>
                                                            </li>
                                                            <li class="list-styled-item">
                                                                <a class="list-styled-link"
                                                                   href="{{ path('product', {id:'catalogus'}) }}">
                                                                    CatalogusMessner
                                                                </a>
                                                            </li>
                                                        </ul>

                                                    </div>

                                                    <div class="col-4 d-none d-lg-block">

                                                        <!-- Card -->
                                                        <div class="card">

                                                            <!-- Image -->
                                                            <img class="card-img" src=".{{ asset("img/download.jpg") }}"
                                                                 alt="...">

                                                            <!-- Overlay -->
                                                            <div class="card-img-overlay bg-dark-0 bg-hover align-items-center">
                                                                <div class="text-center">
                                                                    <a class="btn btn-white stretched-link"
                                                                       href="{{path('producten')}}">
                                                                        Alle producten <i class="fe fe-arrow-right ml-2"></i>
                                                                    </a>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </li>
                    <li class="nav-item dropdown">

                        <!-- Toggle -->
                        <a class="nav-link" data-toggle="dropdown" href="https://yevgenysim.github.io/shopper/index.html#">Blog</a>

                        <!-- Menu -->
                        <div class="dropdown-menu">
                            <div class="card card-lg">
                                <div class="card-body">
                                    <ul class="list-styled font-size-sm">
                                        <li class="list-styled-item">
                                            <a class="list-styled-link"
                                               href="https://yevgenysim.github.io/shopper/blog.html">Blog</a>
                                        </li>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <li class="list-styled-item">
                                                <a class="list-styled-link"
                                                   href="https://yevgenysim.github.io/shopper/blog-post.html">Blog Post Toevoegen</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>


                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="https://yevgenysim.github.io/shopper/docs/getting-started.html">Contact</a>
                    </li>
                </ul>

                <!-- Nav -->
                <ul class="navbar-nav flex-row">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal"
                           href="https://yevgenysim.github.io/shopper/index.html#modalSearch">
                            <i class="fas fa-search"></i>
                        </a>
                    </li>
                </ul>

            </div>

        </div>
    </nav>

<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputUsername">Username</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>
{% endblock %}
