{% extends 'base.html.twig' %}

{% block stylesheets %}
        {{ parent() }}
        <!-- Libs CSS -->
        <link rel="stylesheet" href="{{ asset("css/all.min.css") }}">
        <link rel="stylesheet" href="{{ asset("css/jquery.fancybox.min.css") }}">
        <link rel="stylesheet" href="{{ asset("css/flickity.min.css") }}">
        <link rel="stylesheet" href="{{ asset("css/simplebar.min.css") }}">
        <link rel="stylesheet" href="{{ asset("css/vs2015.css") }}">
        <link rel="stylesheet" href="{{ asset("css/flickity-fade.css") }}">
        <link rel="stylesheet" href="{{ asset("css/feather.css") }}">
        <link rel="stylesheet" href="{{ asset("css/theme.min.css") }}">
        <link rel="stylesheet" href="{{ asset("css/style.css") }}">

        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', 'UA-154926440-1');

        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <!-- <script type="text/javascript" async="" src="./Shopper_files/analytics.js.download"></script> -->
        <!-- <script async="" src="./Shopper_files/js"></script> -->
{% endblock %}

{% block main %}

    <!-- CATEGORIES stage-1 -->
    <section>
        <div class="row no-gutters"
             data-flickity="{&quot;watchCSS&quot;: true}">

            <!-- Item -->
            <div class="col-sm-12 col-md-6 col-xl-3 bg-cover"
                 style="background-image: url({{ asset('img/koi-1.jpeg') }}); ; margin-left: 4%; margin-right: 4%">
                <div class="card bg-dark-5 bg-hover text-white text-center" style="min-height: 470px;">
                    <div class="card-body mt-auto mb-n11 py-8">

                        <!-- Heading -->
                        <h1 class="mb-0 font-weight-bolder">
                            Lorem Ipsum
                        </h1>

                    </div>
                    <div class="card-body mt-auto py-8">

                        <!-- Button -->
                        <a class="btn btn-white stretched-link" href="#">
                            dolor sit <i class="fas fa-arrow-right"></i>
                        </a>

                    </div>
                </div>
            </div>

            <!-- Card -->
            <div class="col-sm-12 col-md-6 col-xl-3 d-none d-md-block  bg-cover"
                 style="background-image: url({{ asset('img/koi-2.jpeg') }}); margin-left: 4%; margin-right: 4%">
                <div class="card bg-dark-5 bg-hover text-white text-center" style="min-height: 470px;">
                    <div class="card-body mt-auto mb-n11 py-8">

                        <!-- Heading -->
                        <h1 class="mb-0 font-weight-bolder">
                            Lorem Ipsum
                        </h1>

                    </div>
                    <div class="card-body mt-auto py-8">

                        <!-- Button -->
                        <a class="btn btn-white stretched-link" href="#">
                            dolor sit <i class="fas fa-arrow-right"></i>
                        </a>

                    </div>
                </div>
            </div>

            <!-- Card -->
            <div class="col-sm-12 col-md-6 col-xl-3 d-none d-xl-block bg-cover"
                 style="background-image: url({{ asset('img/koi-3.jpeg') }}); margin-left: 4%; margin-right: 4%">
                <div class="card bg-dark-5 bg-hover text-white text-center" style="min-height: 470px;">
                    <div class="card-body mt-auto mb-n11 py-8">

                        <!-- Heading -->
                        <h1 class="mb-0 font-weight-bolder">
                            Lorem Ipsum
                        </h1>

                    </div>
                    <div class="card-body mt-auto py-8">

                        <!-- Button -->
                        <a class="btn btn-white stretched-link" href="#">
                            dolor sit <i class="fas fa-arrow-right"></i>
                        </a>

                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- BEST PICKS -->
    <section class="pt-12">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8 col-xl-6 text-center">

                    <!-- Preheading -->
                    <h6 class="heading-xxs mb-3 text-gray-400">
                        Lorem
                    </h6>

                    <!-- Heading -->
                    <h2 class="mb-4">Lorem Ipsum</h2>

                    <!-- Subheading -->
                    <p class="mb-10 text-gray-500">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mattis massa pellentesque,
                        euismod
                        felis eu, consequat dui. Donec pharetra venenatis pretium.
                    </p>

                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-5 col-lg-4 d-flex flex-column">

                    <!-- Card -->
                    <div class="card mb-7 text-white"
                         style="min-height: 400px; background-image: url(https://via.placeholder.com/350)">

                        <!-- Background -->
                        <div class="card-bg">
                            <div class="card-bg-img bg-cover"
                                 style="background-image: url({{ asset('img/koi-6.jpeg') }});"></div>
                        </div>

                        <!-- Body -->
                        <div class="card-body my-auto text-center">

                            <!-- Heading -->
                            <h4 class="mb-0">Lorem Ipsum</h4>

                            <!-- Link -->
                            <a class="btn btn-link stretched-link text-reset"
                               href="https://yevgenysim.github.io/shopper/shop.html">
                                Meer informatie <i class="fa fa-arrow-right"></i>
                            </a>

                        </div>

                    </div>

                </div>
                <div class="col-12 col-md-7 col-lg-8 d-flex flex-column">

                    <!-- Card -->
                    <div class="card mb-7 text-body" style="min-height: 400px;">

                        <!-- Background -->
                        <div class="card-bg">
                            <div class="card-bg-img bg-cover"
                                 style="
                                 background-image: url({{ asset('img/koi-4.jpeg') }});"></div>
                        </div>

                        <!-- Body -->
                        <div class="card-body my-auto px-md-10 text-center text-md-left">


                            <!-- Heading -->
                            <h4 class="mb-0">Lorem Ipsum</h4>

                            <!-- Link -->
                            <a class="btn btn-link stretched-link px-0 text-reset"
                               href="https://yevgenysim.github.io/shopper/shop.html">
                                Meer informatie <i class="fa fa-arrow-right"></i>
                            </a>

                        </div>

                    </div>

                </div>
                <div class="col-12 col-md-7 col-lg-8 d-flex flex-column">

                    <!-- Card -->
                    <div class="card mb-7 mb-md-0 text-body" style="min-height: 400px;">

                        <!-- Background -->
                        <div class="card-bg">
                            <div class="card-bg-img bg-cover"
                                 style="background-image: url({{ asset('img/koi-5.jpeg') }});"></div>
                        </div>

                        <!-- Body -->
                        <div class="card-body my-auto px-md-10 text-center text-md-left">

                            <!-- Heading -->
                            <h4 class="mb-0">Lorem Ipsum</h4>

                            <!-- Link -->
                            <a class="btn btn-link stretched-link px-0 text-reset"
                               href="https://yevgenysim.github.io/shopper/shop.html">
                                Meer informatie <i class="fa fa-arrow-right"></i>
                            </a>

                        </div>

                    </div>

                </div>
                <div class="col-12 col-md-5 col-lg-4 d-flex flex-column">

                    <!-- Card -->
                    <div class="card text-white" style="min-height: 400px;">

                        <!-- Background -->
                        <div class="card-bg">
                            <div class="card-bg-img bg-cover"
                                 style="
                                 background-image: url({{ asset('img/koi-10.jpeg') }});"></div>
                        </div>

                        <!-- Body -->
                        <div class="card-body my-auto text-center">

                            <!-- Heading -->
                            <h4 class="mb-0">Lorem Ipsum</h4>

                            <!-- Link -->
                            <a class="btn btn-link stretched-link text-reset"
                               href="#">
                                Meer informatie <i class="fa fa-arrow-right"></i>
                            </a>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}