{% extends 'base.html.twig' %}

{% block main %}
    <section>
        <div class="row no-gutters"
             data-flickity="{&quot;watchCSS&quot;: true}">

            <!-- Item -->
            <div class="col-sm-12 col-md-6 col-xl-4 bg-cover"
                 style="background-image: url({{ asset('img/koi-1.jpeg') }});">
                <div class="card bg-dark-5 bg-hover text-white text-center" style="min-height: 470px;">
                    <div class="card-body mt-auto mb-n11 py-8">

                        <!-- Heading -->
                        <h1 class="mb-0 font-weight-bolder">
                            Blogs beheren
                        </h1>

                    </div>
                    <div class="card-body mt-auto py-8">

                        <!-- Button -->
                        <a class="btn btn-white stretched-link" href="#">
                            Gaan <i class="fas fa-arrow-right"></i>
                        </a>

                    </div>
                </div>
            </div>

            <!-- Card -->
            <div class="col-sm-12 col-md-6 col-xl-4 d-none d-md-block  bg-cover"
                 style="background-image: url({{ asset('img/koi-2.jpeg') }});">
                <div class="card bg-dark-5 bg-hover text-white text-center" style="min-height: 470px;">
                    <div class="card-body mt-auto mb-n11 py-8">

                        <!-- Heading -->
                        <h1 class="mb-0 font-weight-bolder">
                            Karpers beheren
                        </h1>

                    </div>
                    <div class="card-body mt-auto py-8">

                        <!-- Button -->
                        <a class="btn btn-white stretched-link" href="{{ path('admin_karper_index') }}">
                            Gaan <i class="fas fa-arrow-right"></i>
                        </a>

                    </div>
                </div>
            </div>

            <!-- Card -->
            <div class="col-sm-12 col-md-6 col-xl-4 d-none d-xl-block bg-cover"
                 style="background-image: url({{ asset('img/koi-3.jpeg') }});">
                <div class="card bg-dark-5 bg-hover text-white text-center" style="min-height: 470px;">
                    <div class="card-body mt-auto mb-n11 py-8">

                        <!-- Heading -->
                        <h1 class="mb-0 font-weight-bolder">
                            Producten beheren
                        </h1>

                    </div>
                    <div class="card-body mt-auto py-8">

                        <!-- Button -->
                        <a class="btn btn-white stretched-link" href="{{ path('admin_product_index') }}">
                            Gaan <i class="fas fa-arrow-right"></i>
                        </a>

                    </div>
                </div>
            </div>

        </div>
    </section>

{% endblock %}