{% extends 'base.html.twig' %}
{% block main %}
    <div class="container">
        <hr>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#karpers">Karpers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#soorten">Soorten</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#kwekers">Kwekers</a>
            </li>
        </ul>

        <div class="tab-content clearfix">
            <div class="tab-pane active" id="karpers">
                <h1>Karpers</h1>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Naam</th>
                        <th>Maat</th>
                        <th>Prijs</th>
                        <th>Leeftijd</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for karper in karpers %}
                        <tr>
                            <td>{{ karper.id }}</td>
                            <td>{{ karper.naam }}</td>
                            <td>{{ karper.maat }}</td>
                            <td>{{ karper.prijs }}</td>
                            <td>{{ karper.leeftijd }}</td>
                            <td>
                                <a class="btn btn-success" href="{{ path('admin_karper_show', {'id': karper.id}) }}">Bekijken</a>
                                <a class="btn btn-warning" href="{{ path('admin_karper_edit', {'id': karper.id}) }}">Bewerken</a>
                                {{ include('admin/karper/_delete_form.html.twig') }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">Geen karpers gevonden</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a class="btn btn-success" href="{{ path('admin_karper_new') }}">Toevoegen</a>
            </div>

            <div class="tab-pane" id="soorten">
                <h1>Soort</h1>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Naam</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for soort in soorten %}
                        <tr>
                            <td>{{ soort.id }}</td>
                            <td>{{ soort.naam }}</td>
                            <td>
                                <a class="btn btn-success" href="{{ path('admin_soort_show', {'id': soort.id}) }}">Bekijken</a>
                                <a class="btn btn-warning" href="{{ path('admin_soort_edit', {'id': soort.id}) }}">Bewerken</a>
                                {{ include('admin/soort/_delete_form.html.twig') }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">Geen soorten gevonden</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a class="btn btn-success" href="{{ path('admin_soort_new') }}">Toevoegen</a>
            </div>

            <div class="tab-pane" id="kwekers">
                <h1>Kweker</h1>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Naam</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for kweker in kwekers %}
                        <tr>
                            <td>{{ kweker.id }}</td>
                            <td>{{ kweker.naam }}</td>
                            <td>
                                <a class="btn btn-success" href="{{ path('admin_kweker_show', {'id': kweker.id}) }}">Bekijken</a>
                                <a class="btn btn-warning" href="{{ path('admin_kweker_edit', {'id': kweker.id}) }}">Bewerken</a>
                                {{ include('admin/kweker/_delete_form.html.twig') }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">Geen kwekers gevonden</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a class="btn btn-success" href="{{ path('admin_kweker_new') }}">Toevoegen</a>
            </div>
        </div>
    </div>
{% endblock %}