{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Libs CSS -->
    <link rel="stylesheet" href="{{ asset("css/all.min.css") }}">
    <link rel="stylesheet" href="{{ asset("css/jquery.fancybox.min.css") }}">
    <link rel="stylesheet" href="{{ asset("css/flickity.min.css") }}">
    <link rel="stylesheet" href="{{ asset("css/simplebar.min.css") }}">
    <link rel="stylesheet" href="{{ asset("css/vs2015.css") }}">
    <link rel="stylesheet" href="{{ asset("css/flickity-fade.css") }}">
    <link rel="stylesheet" href="{{ asset("css/feather.css") }}">
    <link rel="stylesheet" href="{{ asset("css/theme.min.css") }}">
    <link rel="stylesheet" href="{{ asset("css/style.css") }}">

    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-154926440-1');

    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script type="text/javascript" async="" src="./Shopper_files/analytics.js.download"></script> -->
    <!-- <script async="" src="./Shopper_files/js"></script> -->
{% endblock %}
{% block main %}
    <div class="container-fluid">
    <div class="mx-auto row no-gutters d-block d-lg-flex flickity flickity-lg-none"
         data-flickity="{&quot;watchCSS&quot;: true}">
        {% for product in producten %}
            <!-- Item -->
            <div class=" mx-auto col-lg-3 col-xs-10 d-flex flex-column bg-cover"
                 style=" background-image: url({{ product.image }}); margin-top: 4vh; margin-bottom: 4vh">
                <div class="card bg-dark-5 bg-hover text-white text-center" style="min-height: 470px;">
                    <div class="card-body mt-auto mb-n11 py-8">

                        <!-- Heading -->
                        <h1 class="mb-0 font-weight-bolder">
                            {{ product.naam }}
                        </h1>

                    </div>
                    <div class="card-body mt-auto py-8">

                        <!-- Button -->
                        <a class="btn btn-white " href="{{ path('admin_product', {id: product.id}) }}">
                            Bekijken <i class="fas fa-arrow-right"></i>
                        </a>

                        <a class="btn btn-white" href="{{ path('product_wijzigen', {id: product.id}) }}">
                            Bewerken <i class="fas fa-arrow-right"></i>
                        </a>

                        <a class="btn btn-white" href="#">
                            Verwijderen <i class="fas fa-arrow-right"></i>
                        </a>


                    </div>
                </div>
            </div>
        {% endfor %}


    </div>

{% endblock %}